<!-- app.component.ts (composant racine) appeler le composant que l'on vient 
qui est son enfant -->
<div class="container">
    <section class="row">
        <div class="col-6">
            <app-api></app-api>
        </div>
        <div class="col-6">
            <app-reactive></app-reactive>
        </div>
        <div class="col-6">
            <app-questionnaire></app-questionnaire>
        </div>
        <div class="col-6">
            <app-template-driven></app-template-driven>
        </div>
        <div class="col-6">
            <app-menu></app-menu>
        </div>
    </section>

    <section class="row">
        <div class="col-6">
            <app-premier></app-premier>
        </div>
        <div class="col-6">
            <app-deuxieme></app-deuxieme>
        </div>
    </section>
</div>

